@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login  */

#loginBg {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#0d6efd 0.5px, transparent 0.5px), radial-gradient(#0d6efd 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

/* NavBAr */

#saNavActive li {
    margin: 10px 10px 10px 0;
    padding: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#saNavActive li:hover {
    color: #277bf9;
    /* font-weight: 600; */
}

#saNavActive li.active {
    background-color: #277bf9;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* SuperAdmin  */

#userRoleNavButton button {
    padding: 10px 30px;
}

#userRoleNavButton button:hover {
    color: #277bf9;
}

#userRoleNavButton button.active {
    background: #277bf9;
    border-radius: 5px;
    color: #fff;
}